:root {
    --textColor: rgb(0, 0, 0);
    --linkColor: rgb(2, 167, 189);
    --backgroundColor: rgb(0, 137, 155);
}

body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    background-size: auto;
    background-repeat: repeat;
    background-image: url("images/IndexBackground.png");
    background-position: center;
    background-color: var(--backgroundColor);
    color: var(--textColor);
}

#mainwrap {
    background-color: rgb(255, 255, 255);
    background-size: fill;
    width: 90%;
    min-height: 90vh;
    margin: auto;
    margin-top: 5vh;
    border: solid 0.25em rgb(0, 50, 100);
}

main {
    display: flex;
    flex-direction: column;
}

h2 {
    text-align: center;
}

form {
    display: grid;
    gap: 1em;
    column-count: 3;
    
    margin: auto;
    width: 75%;
}

form:nth-child(3) {
    grid-column: 1;
    grid-row: 5;
}

[type="submit"] {
    grid-column: 2;
}

footer {
    padding: 1em;
}

#calendar {
    table-layout: fixed;
    text-align: center;
    width: 90%;
    margin: auto;
    border: 0.1em solid rgb(0, 0, 0);
}

#calendar td {
    border: 0.05em solid rgb(0, 0, 0);
}

nav ul {
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    list-style: none;
    text-align: center;
    justify-content: space-around;
}

.customLink {
    color: var(--linkColor);
    size: 5em;
    text-decoration: none;
    text-transform: uppercase;
}

.customLink:visited {
    color: var(--linkColor);
}

/* Phone mediaquery */
@media screen and (max-width:460px) { 
    nav ul {
        flex-direction: column;
    }

    form {
        display: flex;
        column-count: 1;
        flex-direction: column;
    }
}

/* Tablet mediaquery */
@media screen and (min-width:460) and (max-width:1024px) { 

}