html {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
    color: black;
    height: 100%;
    width: 100%;
    font-size: large;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
}

li {
    padding-top: 2em;
    text-align: center;
}

nav {
    float: left;
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    margin-right: 0.5em;
    border-right: solid 0.25em black;
}

.nav {
    padding: 0.5em;
    text-align: center;
    font-size: xx-large;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
}

.nav:visited {
    color: black;
}

.content {
    width: 80%;
    height: 100%;
    padding-left: 20%;
}

h1 {
    margin: 0;
    padding: 0.5em;
    text-align: center;
}

h2 {
    margin: 0;
    padding: 0.5em;
    text-align: center;
}

details {
    font-size: x-large;
}

table {
    border: 1px solid black;
    text-align: center;
    padding: 1em;
    table-layout: fixed;
}

td {
    border: 1px solid black;
}

#gallery {
    width: 50%;
    margin-left: 25%;
    display: inline-flex;
}

#gallery .thumb {
    width: 100px;
    height: 100px;
    opacity: 0.25;
}

#gallery .headshot {
    position: absolute;
    left: -1000px;
    width: 200px;
    height: 200px;
    opacity: 1;
}

#gallery a:hover .headshot {
    position:inherit;
}

#summary {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
}

#questions {
    width: 80%;
    margin: auto;
}

#entice {
    display: block;
    width: 100%;
    font-size: larger;
    text-align: center;
    margin: auto;
}

#center {
    text-align: center;
    margin: auto;
}

#commerce {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#item {
    align-self: center;
    text-align: center;
    display: block;
    width: 40%;
    margin: 2.5%;
    padding: 0.5em;
    border: solid 1px black;
}

#item img {
    width: 100%;
}

#cart {
    font-size: x-large;
}

@media screen and (max-width: 1500px) {
    nav {
        float: inline-start;
        width: 100%;
        height: auto;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        border-bottom: solid 0.25em black;
        border-right: none;
        margin-bottom: 0.5em;
    }

    .content {
        width: 100%;
        padding: 0;
    }
}

@media screen and (max-width: 1100px) {
    nav {
        display: grid;
        width: 100%;
        height: auto;
    }

    nav :nth-child(1) {
        grid-column-start: 1;
        grid-column-end: span 2;
        grid-row: 1;
    }
    nav :nth-child(2) {
        grid-column: 1;
        grid-row: 2;
    }
    nav :nth-child(3) {
        grid-column: 1;
        grid-row: 3;
    }
    nav :nth-child(4) {
        grid-column: 2;
        grid-row: 2;
    }
    nav :nth-child(5) {
        grid-column: 2;
        grid-row: 3;
    }

    .content {
        width: 100%;
        padding: 0;
    }
}

@media screen and (max-width: 680px) {
    nav {
        display: flex;
        flex-direction: column;
    }

    table {
        table-layout: auto;
    }
}
