html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: rgba(255, 0, 0, 0.26);
}

body {
    margin: auto;
    padding: 0;
    color: black;
    width: 90%;
    height: 100%;
    font-size: large;
}

ul { /* Navigation menu */
    background-color: white;
    padding: 0;
    margin: 0;
    position: fixed;
    list-style: none;
    width: 18%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-right: red dashed 2px;
    border-left: black solid 2px;
}

li {
    text-align: center;
}

.nav { /* For navigation text */
    text-align: center;
    font-size: xx-large;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
}

.nav:visited {
    color: black;
}

.content {
    background-color: white;
    width: 80%;
    margin-left: 20%;
    min-height: 100%;
    border-right: black solid 2px;
}

h1 {
    margin: 0;
    padding: 0.5em;
    text-align: center;
}

h2 {
    margin: 0;
    padding: 0.5em;
    text-align: center;
}

details {
    font-size: x-large;
}

table {
    border: 2px dashed red;
    text-align: center;
    padding: 1em;
    table-layout: fixed;
}

td {
    border: 1px solid black;
}

footer {
    position: relative;
    width: 70%;
    left: 10%;
    padding-top: 2em;
    padding-bottom: 2em;
}

.gallery {
    margin-left: 30%;
    margin-right: 30%;
    display: grid;
    grid-template-columns: repeat(2, 100px);
    grid-auto-rows: 100px;
    gap: 5px;
    min-height: 250px;
}

#thumbnail img{
    border: 1px solid black;
    max-height: 100px;
    opacity: 0.5;
}

#fullsize {
    max-width: 250px;
    border: 2px dashed red;
    opacity: 0;
    position: absolute;
    left: -5000px;
}

#galleryImage:has(#thumbnail:hover) :is(#thumbnail img, #fullsize){
    opacity: 1;
}

#galleryImage:has(#thumbnail:hover) #fullsize{
    position: absolute;
    left: 60%;
    top: 225px;
}

#summary {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
}

#questions {
    width: 80%;
    margin: auto;
}

#entice {
    font-size: larger;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border: red dashed 2px;
    color: black;
    text-decoration: none;
}

#center {
    margin-top: 1em;
    text-align: center;
}

#commerce {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#item {
    align-self: center;
    text-align: center;
    display: block;
    width: 40%;
    margin: 2.5%;
    padding: 0.5em;
    border: solid 1px black;
}

#item img {
    width: 100%;
}

#cart {
    font-size: x-large;
}

@media screen and (max-width: 1500px) {
    ul {
        position: relative;
        width: 100%;
        height: 10%;
        display: grid;
        grid-template-columns: repeat(4, auto);
        grid-auto-rows: auto;
        border-bottom: red dashed 2px;
        border-right: black solid 2px;
        padding-bottom: 0.5em;
    }

    ul li {
        grid-row: auto;
        grid-column: auto;
    }

    .content {
        width: 100%;
        margin-left: 0%;
        border-left: black solid 2px;
    }

    .gallery {
        margin: 0;
        justify-content: center;
        min-height: 450px;
    }

    #galleryImage:has(#thumbnail:hover) #fullsize{
        top: 525px;
        left: 43%;
    }
}

@media screen and (max-width: 1100px) {
    ul {
        position: relative;
        display: grid;
        grid-template-columns: none;
        width: 100%;
        height: auto;
    }

    nav :nth-child(1) {
        grid-column-start: 1;
        grid-column-end: span 2;
        grid-row: 1;
    }
    nav :nth-child(2) {
        grid-column: 1;
        grid-row: 2;
    }
    nav :nth-child(3) {
        grid-column: 1;
        grid-row: 3;
    }
    nav :nth-child(4) {
        grid-column: 2;
        grid-row: 2;
    }
    nav :nth-child(5) {
        grid-column: 2;
        grid-row: 3;
    }

    .content {
        width: 100%;
        padding: 0;
        top: auto;
    }

    #galleryImage:has(#thumbnail:hover) #fullsize{
        top: 600px;
        left: 39.5%;
    }
}

@media screen and (max-width: 680px) {
    body {
        width: 100%;
        margin: auto;
    }

    ul {
        display: flex;
        flex-direction: column;
        border-right: none;
        border-left: none;
    }

    .content {
        border-right: none;
        border-left: none;
    }

    table {
        table-layout: auto;
    }

    #gallery img {
        max-width: 100px;
    }

    #galleryImage:has(#thumbnail:hover) #fullsize{
        top: 725px;
        left: 34%;
    }
}
